.authModal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authModal__bg {
  position: inherit;
  height: 100%;
  width: 100%;
}

.authModal__content {
  background-color: rgba(0, 83, 89, 0.56);
  position: relative;
  width: 400px;
  box-shadow: 0 0 29px 0 rgba(0,0,0,0.6);
  overflow-y: auto;
}

  /*.authModal__content-scrollable {
    overflow-y: scroll;
  }*/

.authModal__content__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f9f9f9;
  width: 100%;
}

.authModal__content__form__header {
  justify-content: center;
  display: flex;
  color: #ffffff;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff;
  padding: 15px;
  background-color: #005359;
}

.authModal__content__form__header-title {
  font-size: 30px;
}

.authModal__content__form__body {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-left: 1px solid rgba(0, 83, 89, 0.37);
  border-right: 1px solid rgba(0, 83, 89, 0.37);
}

.authModal__content__form__body__item {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.authModal__content__form__body__item-field {
  padding: 10px 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  outline: none;
}

.authModal__content__form__body__item__block {
  text-align: right;
}

.authModal__content__form__body__item-button {
  background-color: #005359;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 10px 10px;
  font-size: 18px;
  transition: all .3s;
  cursor: pointer;
}
.authModal__content__form__body__item-button:hover {
  background-color: #017881;
  border-color: transparent;
}

.authModal__content__form__footer {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  padding: 15px;
  background-color: #005359;
}

.authModal__content__form__footer-button {
  border: 2px solid;
  background-color: #9fa703;
  border-top-color: #ecf709;
  border-right-color: #ecf709;
  border-left-color: #474a01;
  border-bottom-color: #474a01;
  color: #ffffff;
  padding: 10px;
  font-size: 18px;
  transition: all .3s;
  cursor: pointer;
}

.authModal__content__form__footer-button:hover {
  background-color: #03c38c;
  border-top-color: #02ffb7;
  border-right-color: #02ffb7;
  border-left-color: #074a0d;
  border-bottom-color: #074a0d;
}

.authModal__content-smallScreen {
  background: red;
}
