.authModal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authModal__bg {
  position: inherit;
  height: 100%;
  width: 100%;
}

.authModal__content {
  background-color: rgba(0, 83, 89, 0.35);
  display: flex;
  justify-content: center;
  position: relative;
  width: 400px;
  box-shadow: 0 0 29px 0 rgba(0,0,0,0.6);
}
