.authModal__content__form__body__item-select {
  height: 35px;
}

.authModal__content__form__body__item-requirements-ahtung {
  color: red;
  padding-right: 5px;
  
}

.authModal__content__form__body__item-requirements-domain {
  color: #cffcff;
  padding-left: 5px;
  padding-right: 5px;
}
