.app__header {
  background-color: #005359;
  display: flex;
  padding: 20px 40px;
  color: #ffffff;
  align-items: baseline;
  box-shadow: 0 0 29px 0 rgba(0,0,0,0.6);
}

.app__header__menu__primary__list-item,
.app__header__menu__side__list-item {
  margin-right: 20px;
}

.app__header__menu__primary__list-item__projectName {
  letter-spacing: 2px;
  font-family: monospace;
  font-size: 30px;
  text-decoration: none;
  color: #00b6c3;
  transition: all .5s;
  text-shadow: 8px 8px 4px #00b6c3;
}

.app__header__menu__primary__list-item__projectName:hover {
  color: #00eeff;
  text-shadow: none;
}

.app__header__menu__auth-item {
  background-color: #005359;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 5px 10px;
  font-size: 18px;
  transition: all .3s;
  cursor: pointer;
}

.app__header__menu__auth-item:hover {
  color: #005359;
  background-color: #ffffff;
  border-color: #005359;
}
